 @import"../../common/colors.scss";

 .non-content {
     display: none;
 }

 .content-wrapper {
     display: flex;
     padding: 87px 50px;

     .details {
         padding-left: 40px;
         margin-bottom: 10px;


         .content-tabs {
             .btn {
                 display: flex;
                 border-bottom: 2px solid $bg-color;
                 margin: 25px 0px;



                 .active {
                     background-color: $main-color;
                     transition: 0.4s all linear;
                 }

                 button {
                     background-color: transparent;
                     border: none;
                     outline: none;
                     padding: 14px 16px;
                     color: $bg-color;
                     font-size: 17px;
                     margin-right: 48px;
                 }

             }

             .content {
                 padding: 0px 40px 0px 0px;

                 .plot {
                     font-size: 16px;
                     line-height: 1.6;
                 }

             }
         }

         .moredetails {
             margin-top: 10px;

             span {
                 font-size: 15px;
             }
         }

         h3 {
             font-size: 30px;
             margin-bottom: 15px;
             font-weight: 600;
         }

         span {
             margin-right: 25px;
             font-size: 15px;

         }
     }
 }