@import '../src/common/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6
}

a {
    text-decoration: none;

}

body {
    background-color: $text-color;

    color: $bg-color ;
}

.container {
    margin: 0px 40px;
    
}